body{
    background:#f0f0f0;
}


.conteneur{
    text-align: center;
    color:#6549ed;
    position:absolute; left:10%; right:9%; bottom:20%;
    color:#6549ed;
    
    width:80%; height:55%; border-radius:20px;
  
}
.table{
    text-align: center;
    background-color:#fff; color:#6549ed;
    min-width: 50vh; min-height:50vh; border-radius:20px;
    box-shadow: 0px 10px 20px #000;height: 20rem;
    position:absolute; right:40%; bottom:30%;
}

.row{
    position:relative;
    top:30px;
}
.logo{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    height: 5rem;
    width: 5rem;
    background: #6549ed;
    border-radius: 50%;
}

img{
    height: 3rem;
    width: 3rem;
    position: absolute;
}


input{
    width:90%;
    border:none;
    outline: none;
    color:#6549ed;
    font-weight: 520;
    height: 2.5rem;
    border-bottom:1px solid #6549ed;
    padding:1.08% 0;
    margin:14px 0;
}

input::placeholder{
    color:#6549ed;
}
.btn{
    
    margin-top: 2rem;
    width:150px;
    height:40px;
    border-radius:50px;
    background:#6549ed;
    color:#fff;
}
.btn:hover{
    background: #fff;
    color: #6549ed;
    box-shadow: 1px 10px 30px #6549ed;
    cursor: pointer;
}
.error{
    display: flex;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    width:150px;
    height:40px;
    border-radius:50px;
    color: #fff;
    background-color: #ff0000;
    position:absolute; 
    right:10%; top:10%;
    z-index: 1;
    animation-name: errorMove;
    animation-duration: 2s;
    animation-timing-function: linear;


  
    
}

@keyframes errorMove {
    0%{right :0%}
    25%{right:2%}
    50%{right:5%}
    70%{right:8%}
    100%{right:10%}
}

